.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 10;
}
.header-bg{
    background-color:black;
    transition: background-color 0.5s; /* Specify the property that transitions */
}

.nav-menu {
    display:flex;
}

.nav-menu li{
    padding: 0 1rem;
}

.nav-menu li a {
    font-size: 1.2rem;
    font-weight: 500;
}
.my-pic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(229, 211, 53, 1); /* Adjusted box-shadow for a glow effect */
    transition: transform 0.3s ease, box-shadow 0.2s ease-in-out; /* Added comma between transitions */
}

.my-pic:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px rgba(229, 211, 53, 1); /* Increased shadow for hover effect */
}

.hamburger{
    display: none;
    
}

/* Responsive adjustments */
@media screen and (max-width: 768px) { /* Adjust for tablet sizes */
    .header {
        height: auto; /* Allow the header to expand as needed */
    }

    .nav-menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh; /* Take up full height */
        background: rgba(0,0,0,0.9);
        position: fixed; /* Fixed instead of absolute to cover the screen */
        top: 90px; /* Start below the header */
        right: 0;
        left: 0;
        transform: translateX(100%); /* Start offscreen to the right */
        z-index: 10; /* Ensure it's above other content */
        transition: transform 0.3s;
    }
    .nav-menu.active {
        transform: translateX(0); /* Bring on screen when active */
    }

    .nav-menu li {
        padding: 1rem 0;
    }
    .nav-menu li a {
        font-size: 2rem;
    }
    .hamburger {
        display: block; /* Show the hamburger icon */
        cursor: pointer; /* Indicate it's clickable */
       color: black !important;
    }
    
}

@media screen and (max-width: 480px) { /* Adjust for mobile sizes */
    .header {
        padding: 0.5rem; /* Reduce padding on smaller screens */
    }

    .hamburger {
        display: block; /* Show the hamburger icon */
        cursor: pointer; /* Indicate it's clickable */
  
        background-color: black;
        color: black;
    }
    
    header .hamburger { /* Increased specificity */
        color: black; /* Ensures the hamburger color is yellow */
    }
    /* Further adjustments to nav and other elements if necessary */
}
